.container-promise {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh;  
}
.label-delay {
    display: flex;
    flex-direction: column;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 16px;
}
.label-delay input {
    width: 360px;
    border: 1px solid #808080;
    border-radius: 4px;
    outline: transparent;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    padding: 10px 16px;
}
.label-delay:hover {
    border: 1px solid #000000;
}
.label-delay::selection {
    border: 1px solid #4E75FF;
}
.fieldset-main {
    display: flex;
    align-items: center;
    width: 360px;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 32px;
}
.fieldset-main:hover {
    border: 1px solid #000000;
}
.legend-main {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #2E2F42;
}
.label-promise {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2E2F42;
    padding: 8px 16px;
    margin-left: 24px;
    margin-right: 24px;
}
.promise-btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    opacity: 0px;
    background-color: #4E75FF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer; 
    width: 360px;   
    border: none;
}
.promise-btn:hover {
    background-color: #6C8CFF;
}